.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.010742;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.834473;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.944824;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.872559;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-10.786141px;}
._9{margin-left:-8.988844px;}
._4{margin-left:-6.649435px;}
._6{margin-left:-4.779239px;}
._8{margin-left:-3.624717px;}
._3{margin-left:-2.623200px;}
._2{margin-left:-1.279261px;}
._0{width:1.139878px;}
._1{width:55.611605px;}
._7{width:58.424402px;}
.fc2{color:rgb(153,202,60);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(144,194,38);}
.fs4{font-size:56.399998px;}
.fs3{font-size:59.599995px;}
.fs5{font-size:68.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:144.000000px;}
.fs0{font-size:160.000000px;}
.fs6{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:18.482780px;}
.y28{bottom:33.942337px;}
.y3{bottom:50.082781px;}
.y27{bottom:55.542328px;}
.y3e{bottom:72.747849px;}
.y26{bottom:77.142319px;}
.y53{bottom:81.113922px;}
.y2d{bottom:86.082024px;}
.y3d{bottom:91.107834px;}
.y25{bottom:98.742310px;}
.y52{bottom:102.713898px;}
.y60{bottom:105.778183px;}
.y2c{bottom:107.682030px;}
.y3c{bottom:109.467819px;}
.y13{bottom:114.407730px;}
.y24{bottom:120.342308px;}
.y45{bottom:122.807724px;}
.y51{bottom:124.313873px;}
.y5f{bottom:126.178177px;}
.y3b{bottom:127.827835px;}
.y2b{bottom:129.282036px;}
.y12{bottom:136.007736px;}
.y23{bottom:141.942314px;}
.y44{bottom:144.407730px;}
.y50{bottom:145.913849px;}
.y3a{bottom:146.187836px;}
.y5e{bottom:146.578171px;}
.y2a{bottom:150.882034px;}
.y64{bottom:153.509636px;}
.y11{bottom:157.607742px;}
.y22{bottom:163.542320px;}
.y43{bottom:166.007736px;}
.y5d{bottom:166.978165px;}
.y1a{bottom:167.607742px;}
.y29{bottom:172.482035px;}
.y39{bottom:174.547836px;}
.y4f{bottom:177.513855px;}
.y54{bottom:177.607742px;}
.y63{bottom:185.109636px;}
.y21{bottom:185.142326px;}
.y42{bottom:187.607742px;}
.y10{bottom:189.207748px;}
.y38{bottom:192.907837px;}
.y5c{bottom:197.378159px;}
.y4e{bottom:199.113861px;}
.y19{bottom:199.207748px;}
.y20{bottom:206.742325px;}
.y41{bottom:209.207748px;}
.yf{bottom:210.807755px;}
.y37{bottom:211.267838px;}
.y5b{bottom:217.778152px;}
.y4d{bottom:220.713867px;}
.y18{bottom:220.807755px;}
.y61{bottom:222.407761px;}
.y1f{bottom:228.342325px;}
.y40{bottom:230.807755px;}
.ye{bottom:232.407761px;}
.y2{bottom:233.820740px;}
.y55{bottom:237.035156px;}
.y4c{bottom:242.313873px;}
.y14{bottom:242.407761px;}
.y5a{bottom:248.178162px;}
.ya{bottom:252.407761px;}
.yd{bottom:254.007767px;}
.y3f{bottom:262.407761px;}
.y15{bottom:264.007767px;}
.y36{bottom:267.987839px;}
.y59{bottom:268.578163px;}
.y4b{bottom:273.913879px;}
.y9{bottom:274.007767px;}
.y1{bottom:281.820740px;}
.y17{bottom:284.007767px;}
.yc{bottom:285.607773px;}
.y35{bottom:286.347839px;}
.y4a{bottom:295.513885px;}
.y8{bottom:295.607773px;}
.y58{bottom:298.978165px;}
.y16{bottom:305.607773px;}
.y34{bottom:314.707840px;}
.y49{bottom:317.113892px;}
.yb{bottom:317.207771px;}
.y1e{bottom:319.151688px;}
.y7{bottom:327.207771px;}
.y57{bottom:329.378166px;}
.y33{bottom:333.067841px;}
.y62{bottom:336.635624px;}
.y48{bottom:338.713898px;}
.y1d{bottom:340.751694px;}
.y6{bottom:348.807772px;}
.y56{bottom:349.778168px;}
.y32{bottom:351.427839px;}
.y31{bottom:360.914604px;}
.y1c{bottom:362.351692px;}
.y47{bottom:370.313896px;}
.y30{bottom:382.514603px;}
.y46{bottom:391.913897px;}
.y1b{bottom:393.951693px;}
.y2f{bottom:404.114601px;}
.y2e{bottom:425.714600px;}
.y5{bottom:453.465771px;}
.h6{height:46.416988px;}
.h8{height:49.218750px;}
.h9{height:50.062500px;}
.h7{height:52.417969px;}
.h4{height:53.085938px;}
.ha{height:54.519531px;}
.h2{height:57.726562px;}
.h5{height:107.578125px;}
.h3{height:115.453125px;}
.h1{height:128.281250px;}
.hb{height:173.179688px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:7.733124px;}
.xa{left:49.313217px;}
.x8{left:54.747192px;}
.x5{left:60.533386px;}
.x9{left:81.747192px;}
.x6{left:87.533386px;}
.x7{left:96.533386px;}
.xb{left:132.411499px;}
.x3{left:161.226273px;}
.x1{left:215.865570px;}
.xc{left:233.740875px;}
.x2{left:265.166336px;}
.xe{left:440.661407px;}
.xd{left:594.154541px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-14.381521pt;}
._9{margin-left:-11.985125pt;}
._4{margin-left:-8.865913pt;}
._6{margin-left:-6.372319pt;}
._8{margin-left:-4.832956pt;}
._3{margin-left:-3.497600pt;}
._2{margin-left:-1.705681pt;}
._0{width:1.519837pt;}
._1{width:74.148806pt;}
._7{width:77.899203pt;}
.fs4{font-size:75.199997pt;}
.fs3{font-size:79.466660pt;}
.fs5{font-size:90.666667pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:192.000000pt;}
.fs0{font-size:213.333333pt;}
.fs6{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:24.643707pt;}
.y28{bottom:45.256449pt;}
.y3{bottom:66.777041pt;}
.y27{bottom:74.056437pt;}
.y3e{bottom:96.997131pt;}
.y26{bottom:102.856425pt;}
.y53{bottom:108.151896pt;}
.y2d{bottom:114.776031pt;}
.y3d{bottom:121.477112pt;}
.y25{bottom:131.656413pt;}
.y52{bottom:136.951864pt;}
.y60{bottom:141.037577pt;}
.y2c{bottom:143.576040pt;}
.y3c{bottom:145.957092pt;}
.y13{bottom:152.543640pt;}
.y24{bottom:160.456411pt;}
.y45{bottom:163.743632pt;}
.y51{bottom:165.751831pt;}
.y5f{bottom:168.237569pt;}
.y3b{bottom:170.437113pt;}
.y2b{bottom:172.376048pt;}
.y12{bottom:181.343648pt;}
.y23{bottom:189.256419pt;}
.y44{bottom:192.543640pt;}
.y50{bottom:194.551799pt;}
.y3a{bottom:194.917114pt;}
.y5e{bottom:195.437561pt;}
.y2a{bottom:201.176046pt;}
.y64{bottom:204.679515pt;}
.y11{bottom:210.143656pt;}
.y22{bottom:218.056427pt;}
.y43{bottom:221.343648pt;}
.y5d{bottom:222.637553pt;}
.y1a{bottom:223.476990pt;}
.y29{bottom:229.976046pt;}
.y39{bottom:232.730448pt;}
.y4f{bottom:236.685140pt;}
.y54{bottom:236.810323pt;}
.y63{bottom:246.812848pt;}
.y21{bottom:246.856435pt;}
.y42{bottom:250.143656pt;}
.y10{bottom:252.276998pt;}
.y38{bottom:257.210449pt;}
.y5c{bottom:263.170878pt;}
.y4e{bottom:265.485148pt;}
.y19{bottom:265.610331pt;}
.y20{bottom:275.656433pt;}
.y41{bottom:278.943665pt;}
.yf{bottom:281.077006pt;}
.y37{bottom:281.690450pt;}
.y5b{bottom:290.370870pt;}
.y4d{bottom:294.285156pt;}
.y18{bottom:294.410339pt;}
.y61{bottom:296.543681pt;}
.y1f{bottom:304.456434pt;}
.y40{bottom:307.743673pt;}
.ye{bottom:309.877014pt;}
.y2{bottom:311.760986pt;}
.y55{bottom:316.046875pt;}
.y4c{bottom:323.085164pt;}
.y14{bottom:323.210347pt;}
.y5a{bottom:330.904215pt;}
.ya{bottom:336.543681pt;}
.yd{bottom:338.677022pt;}
.y3f{bottom:349.877014pt;}
.y15{bottom:352.010356pt;}
.y36{bottom:357.317118pt;}
.y59{bottom:358.104218pt;}
.y4b{bottom:365.218506pt;}
.y9{bottom:365.343689pt;}
.y1{bottom:375.760986pt;}
.y17{bottom:378.677022pt;}
.yc{bottom:380.810364pt;}
.y35{bottom:381.797119pt;}
.y4a{bottom:394.018514pt;}
.y8{bottom:394.143697pt;}
.y58{bottom:398.637553pt;}
.y16{bottom:407.477030pt;}
.y34{bottom:419.610453pt;}
.y49{bottom:422.818522pt;}
.yb{bottom:422.943695pt;}
.y1e{bottom:425.535583pt;}
.y7{bottom:436.277028pt;}
.y57{bottom:439.170888pt;}
.y33{bottom:444.090454pt;}
.y62{bottom:448.847499pt;}
.y48{bottom:451.618530pt;}
.y1d{bottom:454.335592pt;}
.y6{bottom:465.077029pt;}
.y56{bottom:466.370890pt;}
.y32{bottom:468.570452pt;}
.y31{bottom:481.219472pt;}
.y1c{bottom:483.135590pt;}
.y47{bottom:493.751862pt;}
.y30{bottom:510.019470pt;}
.y46{bottom:522.551862pt;}
.y1b{bottom:525.268923pt;}
.y2f{bottom:538.819468pt;}
.y2e{bottom:567.619466pt;}
.y5{bottom:604.621028pt;}
.h6{height:61.889317pt;}
.h8{height:65.625000pt;}
.h9{height:66.750000pt;}
.h7{height:69.890625pt;}
.h4{height:70.781250pt;}
.ha{height:72.692708pt;}
.h2{height:76.968750pt;}
.h5{height:143.437500pt;}
.h3{height:153.937500pt;}
.h1{height:171.041667pt;}
.hb{height:230.906250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:10.310832pt;}
.xa{left:65.750956pt;}
.x8{left:72.996257pt;}
.x5{left:80.711182pt;}
.x9{left:108.996257pt;}
.x6{left:116.711182pt;}
.x7{left:128.711182pt;}
.xb{left:176.548665pt;}
.x3{left:214.968363pt;}
.x1{left:287.820760pt;}
.xc{left:311.654500pt;}
.x2{left:353.555115pt;}
.xe{left:587.548543pt;}
.xd{left:792.206055pt;}
}
